mixin sort()
    div(sort)
            select.form-control(name="sort", sort-select)
                option(value="ten-asc") Tên A - Z
                option(value="ten-desc") Tên Z - A

            button.btn.btn-danger.mt-2(type="submit", sort-clear) Clear