header.site-header
  //- Nút hamburger để bật/tắt sidebar
  button.menu-toggle(aria-label="Toggle sidebar")
    span.bar
    span.bar
    span.bar
    
  .header-actions
    span Xin chào, Admin!
    a.button(href="/logout") Đăng Xuất