aside.sidebar
  .sidebar__header
    h3.sidebar__title KIOSK ADMIN
  
  nav.sidebar__nav
    ul
      li
        a(href=`${pathAdmin}/dashboard`) Tổng quan
      li
        a(href=`${pathAdmin}/clinics`) Quản lý Phòng khám
      li
        a(href=`${pathAdmin}/services`) Quản lý Dịch vụ
      li
        a(href="#") Cài đặt