aside.sidebar
  .sidebar__header
    h3.sidebar__title KIOSK ADMIN
  
  nav.sidebar__nav
    ul
      li
        a(href="/") Tổng quan
      li.active
        a(href="#") Quản lý Phòng khám
      li
        a(href="#") Quản lý Dịch vụ
      li
        a(href="#") Cài đặt