extends ../../layouts/default.pug
include ../../mixins/progress-steps.pug
include ../../mixins/alert.pug
block main
  +alert-error(5000)
  .kiosk-menu
    h1.menu-title HƯỚNG DẪN ĐĂNG KÝ KHÁM CHỮA BỆNH
    p.menu-subtitle #{pageTitle}
    +progressbar(currentStep, 1)
    .button-container
      
      a.menu-button.menu-button--teal(href="/API/v1/kiosk/step-1/check-cccd")
        .menu-button__icon
          i(class="fas fa-file-medical")
        .menu-button__text
          .main-text BHYT
          .sub-text 
            p Có thẻ BHYT tại cơ sở khám chữa bệnh 
            p Có thẻ CCCD 
      
     
      a.menu-button.menu-button--gray(href="/API/v1/kiosk/step-1/")
        .menu-button__icon
          i(class="fas fa-user-friends")
        .menu-button__text
          .main-text Khám thu phí
          .sub-text 
            p Bệnh nhân khám dịch vụ